.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar .logo {
  width: 140px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-right img {
  width: 20px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid #fc8454;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #fc8454;
  border-radius: 6px;
  top: -8px;
  right: -8px;
}

.navbar-profile {
  position: relative;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #49557e;
  outline: 2px solid white;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #49557e;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown li:hover {
  color: #fc8454;
}

@media (max-width: 1050px) {
  .navbar-menu {
    gap: 16px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar button {
    padding: 8px 24px;
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  .navbar-menu {
    gap: 14px;
    font-size: 15px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 18px;
  }

  .navbar button {
    padding: 6px 20px;
    font-size: 14px;
  }

  .navbar .logo {
    width: 100px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    font-size: 14px;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: none;
    align-items: center;
  }

  .navbar-right {
    gap: 15px;
  }

  .navbar-right button {
    padding: 5px 16px;
    font-size: 13px;
  }

  .navbar .logo {
    width: 70px;
  }
}
